.DS_Store
__pycache__/
*.py[cod]
.ipynb_checkpoints/

.env
.env.*
*.pem
*.key

tmp/
scratch/

venv/
.venv/
env/

*.log

competition_day_materials/1_problem_set.pdf
competition_day_materials/2_problem_guide.ipynb
